* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: 'HelveticaNeueCyr-UltraLight';
  src: url("../fonts/helveticaneuecyr-ultralight.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/helveticaneuecyr-ultralight.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-ultralight.woff2") format("woff2"), url("../fonts/helveticaneuecyr-ultralight.woff") format("woff"), url("../fonts/helveticaneuecyr-ultralight.ttf") format("truetype"), url("../fonts/helveticaneuecyr-ultralight.svg#helveticaneuecyr-ultralight") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'HelveticaNeueCyr-Black';
  src: url("../fonts/helveticaneuecyr-black.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/helveticaneuecyr-black.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-black.woff2") format("woff2"), url("../fonts/helveticaneuecyr-black.woff") format("woff"), url("../fonts/helveticaneuecyr-black.ttf") format("truetype"), url("../fonts/helveticaneuecyr-black.svg#helveticaneuecyr-black") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'HelveticaNeueCyr-BlackItalic';
  src: url("../fonts/helveticaneuecyr-blackitalic.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/helveticaneuecyr-blackitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-blackitalic.woff2") format("woff2"), url("../fonts/helveticaneuecyr-blackitalic.woff") format("woff"), url("../fonts/helveticaneuecyr-blackitalic.ttf") format("truetype"), url("../fonts/helveticaneuecyr-blackitalic.svg#helveticaneuecyr-blackitalic") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'HelveticaNeueCyr-Bold';
  src: url("../fonts/helveticaneuecyr-bold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/helveticaneuecyr-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-bold.woff2") format("woff2"), url("../fonts/helveticaneuecyr-bold.woff") format("woff"), url("../fonts/helveticaneuecyr-bold.ttf") format("truetype"), url("../fonts/helveticaneuecyr-bold.svg#helveticaneuecyr-bold") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'HelveticaNeueCyr-BoldItalic';
  src: url("../fonts/helveticaneuecyr-bolditalic.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/helveticaneuecyr-bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-bolditalic.woff2") format("woff2"), url("../fonts/helveticaneuecyr-bolditalic.woff") format("woff"), url("../fonts/helveticaneuecyr-bolditalic.ttf") format("truetype"), url("../fonts/helveticaneuecyr-bolditalic.svg#helveticaneuecyr-bolditalic") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'HelveticaNeueCyr-Heavy';
  src: url("../fonts/helveticaneuecyr-heavy.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/helveticaneuecyr-heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-heavy.woff2") format("woff2"), url("../fonts/helveticaneuecyr-heavy.woff") format("woff"), url("../fonts/helveticaneuecyr-heavy.ttf") format("truetype"), url("../fonts/helveticaneuecyr-heavy.svg#helveticaneuecyr-heavy") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'HelveticaNeueCyr-HeavyItalic';
  src: url("../fonts/helveticaneuecyr-heavyitalic.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/helveticaneuecyr-heavyitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-heavyitalic.woff2") format("woff2"), url("../fonts/helveticaneuecyr-heavyitalic.woff") format("woff"), url("../fonts/helveticaneuecyr-heavyitalic.ttf") format("truetype"), url("../fonts/helveticaneuecyr-heavyitalic.svg#helveticaneuecyr-heavyitalic") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'HelveticaNeueCyr-Italic';
  src: url("../fonts/helveticaneuecyr-italic.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/helveticaneuecyr-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-italic.woff2") format("woff2"), url("../fonts/helveticaneuecyr-italic.woff") format("woff"), url("../fonts/helveticaneuecyr-italic.ttf") format("truetype"), url("../fonts/helveticaneuecyr-italic.svg#helveticaneuecyr-italic") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url("../fonts/helveticaneuecyr-light.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/helveticaneuecyr-light.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-light.woff2") format("woff2"), url("../fonts/helveticaneuecyr-light.woff") format("woff"), url("../fonts/helveticaneuecyr-light.ttf") format("truetype"), url("../fonts/helveticaneuecyr-light.svg#helveticaneuecyr-light") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'HelveticaNeueCyr-LightItalic';
  src: url("../fonts/helveticaneuecyr-lightitalic.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/helveticaneuecyr-lightitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-lightitalic.woff2") format("woff2"), url("../fonts/helveticaneuecyr-lightitalic.woff") format("woff"), url("../fonts/helveticaneuecyr-lightitalic.ttf") format("truetype"), url("../fonts/helveticaneuecyr-lightitalic.svg#helveticaneuecyr-lightitalic") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'HelveticaNeueCyr-Medium';
  src: url("../fonts/helveticaneuecyr-medium.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/helveticaneuecyr-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-medium.woff2") format("woff2"), url("../fonts/helveticaneuecyr-medium.woff") format("woff"), url("../fonts/helveticaneuecyr-medium.ttf") format("truetype"), url("../fonts/helveticaneuecyr-medium.svg#helveticaneuecyr-medium") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'HelveticaNeueCyr-MediumItalic';
  src: url("../fonts/helveticaneuecyr-mediumitalic.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/helveticaneuecyr-mediumitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-mediumitalic.woff2") format("woff2"), url("../fonts/helveticaneuecyr-mediumitalic.woff") format("woff"), url("../fonts/helveticaneuecyr-mediumitalic.ttf") format("truetype"), url("../fonts/helveticaneuecyr-mediumitalic.svg#helveticaneuecyr-mediumitalic") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: url("../fonts/helveticaneuecyr-roman.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/helveticaneuecyr-roman.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-roman.woff2") format("woff2"), url("../fonts/helveticaneuecyr-roman.woff") format("woff"), url("../fonts/helveticaneuecyr-roman.ttf") format("truetype"), url("../fonts/helveticaneuecyr-roman.svg#helveticaneuecyr-roman") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'HelveticaNeueCyr-Thin';
  src: url("../fonts/helveticaneuecyr-thin.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/helveticaneuecyr-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-thin.woff2") format("woff2"), url("../fonts/helveticaneuecyr-thin.woff") format("woff"), url("../fonts/helveticaneuecyr-thin.ttf") format("truetype"), url("../fonts/helveticaneuecyr-thin.svg#helveticaneuecyr-thin") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'HelveticaNeueCyr-ThinItalic';
  src: url("../fonts/helveticaneuecyr-thinitalic.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/helveticaneuecyr-thinitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-thinitalic.woff2") format("woff2"), url("../fonts/helveticaneuecyr-thinitalic.woff") format("woff"), url("../fonts/helveticaneuecyr-thinitalic.ttf") format("truetype"), url("../fonts/helveticaneuecyr-thinitalic.svg#helveticaneuecyr-thinitalic") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'HelveticaNeueCyr-UltraLightItalic';
  src: url("../fonts/helveticaneuecyr-ultralightitalic.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/helveticaneuecyr-ultralightitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-ultralightitalic.woff2") format("woff2"), url("../fonts/helveticaneuecyr-ultralightitalic.woff") format("woff"), url("../fonts/helveticaneuecyr-ultralightitalic.ttf") format("truetype"), url("../fonts/helveticaneuecyr-ultralightitalic.svg#helveticaneuecyr-ultralightitalic") format("svg");
  /* Chrome < 4, Legacy iOS */
}

body {
  font-family: 'HelveticaNeueCyr-Medium';
  font-style: normal;
  font-size: 14px;
  line-height: 100%;
  font-weight: normal;
  color: black;
  overflow-y: scroll;
  height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #ff9e00;
  border-radius: 7px;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff9e00;
}

.body__wrapper {
  height: 100%;
  padding: 7px 0 7px 7px;
}

.main {
  height: 100%;
}

.main__container {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 75%;
      grid-template-columns: 25% 75%;
}

.main__filter {
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

.filter__country-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 13px;
}

.filter__button-wrapper {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.filter__button {
  width: 100%;
  padding: 10px 10px;
  background-color: #ffffff;
  text-align: center;
  color: #929292;
  font-size: 10px;
  border: 1px solid #929292;
}

.filter__button_active {
  color: #ffffff;
  background-color: #ff9e00;
  border: 1px solid #ff9e00;
}

.filter__office-wrapper {
  overflow: scroll;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.filter__office {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.filter__spoiler {
  width: 100%;
  padding: 30px 42px 30px 26px;
  text-align: unset;
  color: #1e355d;
  font-size: 14px;
  font-weight: bold;
  background-color: #ffffff;
  position: relative;
}

.filter__spoiler::before {
  content: '';
  position: absolute;
  right: 42px;
  top: 50%;
  width: 8px;
  height: 8px;
  border-top: 2px solid #1e355d;
  border-left: 2px solid #1e355d;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translateY(-1px) rotate(45deg);
          transform: translateY(-1px) rotate(45deg);
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.filter__spoiler_active {
  color: #ff9e00;
}

.filter__spoiler_active::before {
  border-top: 2px solid #ff9e00;
  border-left: 2px solid #ff9e00;
  -webkit-transform: translateY(-1px) rotate(-135deg);
          transform: translateY(-1px) rotate(-135deg);
}

.office__container {
  height: 0px;
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.office__body {
  padding: 0px 42px 42px 26px;
  cursor: pointer;
}

.office__body:hover .office__name {
  color: #ff9e00;
}

.office__name {
  color: #1e355d;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
}

.office__name span {
  text-transform: uppercase;
}

.office__owner {
  color: #000000;
  font-size: 10px;
  margin-bottom: 20px;
}

.office__phone {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.office__number {
  display: block;
  color: #000000;
  font-size: 10px;
  margin-right: 15px;
}

.office__number:last-child {
  margin-right: 0;
}

.office__mail {
  color: #32b3e9;
  font-size: 10px;
}

.map__body {
  height: 200px;
  width: 200px;
}

.placemark_layout_container {
  width: 24px;
  height: 24px;
  border: 2px solid #ffffff;
  border-radius: 24px;
  background-color: #1e355d;
}

.placemark_layout_container-shadow {
  width: 24px;
  height: 24px;
  border: 2px solid #ffffff;
  border-radius: 24px;
  background-color: #1e355d;
  -webkit-box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.2);
}

.cluster_layout_container {
  width: 38px;
  height: 38px;
  border: 2px solid #ffffff;
  border-radius: 24px;
  background-color: #1e355d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cluster_content {
  color: #ffffff;
}

.office__body-map {
  width: 367px;
  height: 180px;
  padding: 11px 91px 34px 20px;
  background-color: #1e355d;
}

.office__name-map {
  font-family: 'HelveticaNeueCyr-Medium';
  font-style: normal;
  color: #ff9e00;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 26px;
}

.office__name-map span {
  text-transform: uppercase;
}

.office__owner-map {
  font-family: 'HelveticaNeueCyr-Medium';
  font-style: normal;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 15px;
}

.office__phone-map {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.office__number-map {
  font-family: 'HelveticaNeueCyr-Medium';
  font-style: normal;
  display: block;
  color: #ffffff;
  font-size: 14px;
  margin-right: 15px;
}

.office__number-map:last-child {
  margin-right: 0;
}

.office__mail-map {
  font-family: 'HelveticaNeueCyr-Medium';
  font-style: normal;
  color: #32b3e9;
  font-size: 15px;
}

.ymaps-2-1-79-balloon, .ymaps-2-1-79-balloon__layout, .ymaps-2-1-79-balloon__content {
  background-color: #1e355d !important;
}

.ymaps-2-1-79-balloon__tail::after {
  background-color: #1e355d !important;
}

.ymaps-2-1-79-balloon__close-button {
  background: url(../img/close1.svg) 50% no-repeat !important;
  opacity: 1 !important;
}
